<header class="header">
  <div class="nav-container">
    <div class="logo-area" (click)="onNavigate('home')">
      <span class="logo-icon">⛩️</span>
      <span class="logo-text">OTAKU<span class="logo-highlight">NEXUS</span></span>
    </div>

    <nav class="nav-links">
      <button 
        [class.active]="currentRoute.path === 'home'" 
        (click)="onNavigate('home')" 
        class="nav-item">
        Inicio
      </button>
      <button 
        [class.active]="currentRoute.path === 'search'" 
        (click)="onNavigate('search')" 
        class="nav-item">
        Buscador
      </button>
      <button 
        [class.active]="currentRoute.path === 'favorites'" 
        (click)="onNavigate('favorites')" 
        class="nav-item favorites-button">
        Favoritos
        @if (favoritesCount > 0) {
          <span class="badge">{{ favoritesCount }}</span>
        }
      </button>
    </nav>

    <div class="actions">
      <button (click)="onNavigate('search')" class="icon-button" aria-label="Buscar Anime">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
          <path d="M784-120 532-372q-30 24-74 38t-90 14q-117 0-198.5-81.5T88-600q0-117 81.5-198.5T368-880q117 0 198.5 81.5T648-600q0 46-14 90t-38 74l252 252-64 64ZM368-292q128 0 218-90t90-218q0-128-90-218t-218-90q-128 0-218 90t-90 218q0 128 90 218t218 90Z"/>
        </svg>
      </button>
    </div>
  </div>
</header>
